<h1 id="tableLabel">Phones List</h1>

<p>This component shows the phones list.</p>

<div class="row">
  <div class="col-8">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="search" />
  </div>
  <div class="col-4 actions">
    <button class="btn btn-success mr-2" [routerLink]="['/phones/new']">New</button>
    <button class="btn btn-primary mr-2" (click)="onSearch(search)">Search</button>
    <button class="btn btn-secondary" (click)="onClear()">Clear</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert" [ngClass]="result.includes('😥') ? 'alert-danger' : 'alert-success'" *ngIf="result">
      {{result}}
    </div>
  </div>
</div>
<div [ngClass]="'row'" [ngStyle]="{ color: 'black'}">
  <div class="col-12">
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phone of phones">
          <th>{{phone.id}}</th>
          <th>{{phone.brand}}</th>
          <th>{{phone.model}}</th>
          <th>{{phone.number}}</th>
          <th>
            <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/phones/edit/'+phone.id]">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="onDelete(phone.id)">Eliminar</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>